#tree-view {
	-fx-pref-width:300;
}

#progress-bar-view {
	-fx-pref-height:200;
}

.prog-bar-box{	
	-fx-padding:10;
}

.prog-bar-labels-grid-pane{
	-fx-hgap:20;
}

.progress-bar{
	-fx-pref-width:800;
	-fx-pref-height:27;
	-fx-indeterminate-bar-length:0;
}
